PyMuPDF 
pdfplumber 
PyPDF2 
pandas
chromadb 
langchain 
langchain-community 
sentence-transformers
langchain-core 
langchain-text-splitters 
langchain-huggingface 
langchain-chroma
uvicorn
fastapi
pydantic
python-multipart
requests
rank-bm25
numpy
google-generativeai
python-dotenv
camelot-py[cv]
streamlit
groq